[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[requires]

python_version = "3.6"


[packages]

cryptography = "==2.3"
PyYAML = "==3.13"
requests = "==2.20.0"
sdc-rabbit = "==0.3.4"
sdc-cryptography = "==0.2.3"
structlog = "==17.2.0"
tornado = "==4.5.1"


[dev-packages]

coverage = "*"
"flake8" = "*"
